// Place all the styles related to the Questions controller here.
.boddy {
  background-color: aqua;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  }

#button {
 background-color: rgba(68, 68, 219, 0.667);
 color: white;
 padding: 5px;
 margin: 0;
}

#user-input {
  margin: 0;
  padding: 5px;
}

div {
  border-left: 5px solid rgb(141, 210, 30);
  padding: 10px;
  margin-bottom: 10px;
}

.italic {
  font-style: italic;
}

#answer {
  background-color: rgb(112, 85, 85);
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
